@use "../../../theme/colors.scss";

label {
  display: block;
  margin: 0;
  padding: 0 0 5px 0;
}

input[type="text"] {
  width: 100%;
  margin: 0;
  padding: 12px 15px;
  border: 2px solid colors.$black;
  border-radius: 0;
  font-size: 1rem;
  outline: 0;

  &:focus {
    border: 2px solid colors.$slateblue;
  }
}
