@use "../../../theme/colors.scss";

.field {
  margin: 2rem 0;

  input[type="text"] {
    padding: 12px 15px;
    border: 1px solid colors.$black;
    border-radius: 0;
    font-size: 1rem;
    outline: 0;

    &:focus {
      border: 2px solid colors.$slateblue;
    }
  }
}
