@use "../theme/colors.scss";

// mixins
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin header-effect {
  content: "";
  display: block;
  height: 10px;
  background-color: colors.$gold;
  width: 100%;
}
